[Unit]
Description=Spoiler Cleaner Discord bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=%h/.local/share/spoiler-cleaner
ExecStart=%h/.local/bin/spoiler-cleaner -config config.json -env .env
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
